[submodule "libraries/couchbase-lite-java-core"]
	path = libraries/couchbase-lite-java-core
	url = https://github.com/couchbase/couchbase-lite-java-core.git
[submodule "libraries/couchbase-lite-android"]
	path = libraries/couchbase-lite-android
	url = https://github.com/couchbase/couchbase-lite-android.git
[submodule "libraries/couchbase-lite-java-forestdb"]
	path = libraries/couchbase-lite-java-forestdb
	url = git@github.com:couchbaselabs/couchbase-lite-java-forestdb
[submodule "libraries/couchbase-lite-java-sqlcipher"]
	path = libraries/couchbase-lite-java-sqlcipher
	url = git@github.com:couchbaselabs/couchbase-lite-java-sqlcipher
